* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

html {
  font-family: "Open sans ", sans-serif;
}

#navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  padding: 0.75rem;
}

#navbar ul li a:hover {
  background: #336ea2;
  border-radius: 4px;
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid grey;
}

#home img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

#home .name h2 {
  margin-bottom: 0.75rem;
}

#home .name p {
  opacity: 0.6;
  font-style: italic;
}

#home a {
  margin-top: 1.25rem;
  background: #336ea2;
  padding: 0.8rem 3rem;
  border-radius: 7px;
  letter-spacing: 0.5px;
}

#home a:hover {
  color: #336ea2;
  background: white;
  border: 0.5px solid #336ea2;
}
